---

version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
{% if container_registry_s3_config %}
  s3:
{{ container_registry_s3_config | to_nice_yaml(width=1000) | indent(4,true) }}
{% else %}
  filesystem:
    rootdirectory: /var/lib/registry
{% endif %}
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
{% if container_registry_url_origin %}
  host: {{ container_registry_url_origin }}
{% endif %}
{% if container_registry_tls_key and container_registry_tls_certificate %}
  tls:
    certificate: /etc/docker/registry/tls_certificate
    key: /etc/docker/registry/tls_key
{% endif %}

health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
