# Short cuts for high volume TLD's
# No logging and cache enabled, forwarded.
com {
  cache
  forward .{% for host in forward_dns_nameservers %} {{ host }}{% endfor %}

}

net {
  cache
  forward .{% for host in forward_dns_nameservers %} {{ host }}{% endfor %}

}

org {
  cache
  forward .{% for host in forward_dns_nameservers %} {{ host }}{% endfor %}

}

# Service discovery
consul {
  # forward . host.containers.internal:8600
  forward . {{ ansible_host }}:8600
  log
}

{% for domain in local_domains | sort %}
service.{{ domain }} {
  rewrite stop {
    name regex (.*)\.service\.{{ domain }} {1}.service.consul
    answer name (.*)\.service\.consul {1}.service.{{ domain }}
  }
  forward . {{ ansible_host }}:8600
  log
}

host.{{ domain }} {
  rewrite stop {
    name regex (.*)\.host.{{ domain }} {1}.node.consul
    answer name (.*)\.node\.consul {1}.host.{{ domain }}
  }
  forward . {{ ansible_host }}:8600
  log
}

{% endfor %}
# Catch All
.:53 {
  hosts /config/local.hosts {
    fallthrough
  }
  forward .{% for host in forward_dns_nameservers %} {{ host }}{% endfor %}

  log
}
