# Ansible hosts:
{% for host in groups['all'] | sort %}
{{ hostvars[host].ansible_host | ansible.netcommon.ipv4 }} {{ host }}{% for domain in local_domains | sort %} {{ host }}.{{ domain }}{% endfor %}

{% endfor %}
