{
{% if _is_consul_server %}
  "bootstrap_expect": {{ _consul_server_ips | length }},
{% endif %}
  "retry_join": [
     {% for server in _consul_server_ips %}
      "{{ server }}"{% if not loop.last %},{% endif %}
{% endfor %}]
}
