# Consul config

bind_addr = "0.0.0.0"
# bind_addr = "{{ ansible_default_ipv4.address }}"
advertise_addr = "{{ ansible_default_ipv4.address }}"
datacenter = "{{ consul_datacenter_name }}"
data_dir = "/var/lib/consul"
encrypt = "{{ consul_gossip_token }}"
{% if _is_consul_server %}
ui_config{                                                                                              
  enabled = true                                                                                        
}                                                                                                       
server = true      
addresses = {
  http = "0.0.0.0"
  dns = "0.0.0.0"
}
ports {
  http = 8500
}
{% endif %}
acl = {
  enabled = false
  default_policy = "allow"
  enable_token_persistence = true
}
