# This file is created by Ansible role katsdpinfrastructure/ansible/roles/datetime
# Chrony configuration file. See chrony.conf(5) for more information about usable directives.

# NTP pools to use
{% for pool_hostname, pool_conf in ntp_pools.items() %}
pool {{ pool_hostname }}{% for key, value in pool_conf.items() %} {{ key }}{% if value != true %} {{value}}{% endif %}{% endfor %}

{% endfor %}
# This directive specify the location of the file containing ID/key pairs for
# NTP authentication.
keyfile /etc/chrony/chrony.keys

# This directive specify the file into which chronyd will store the rate
# information.
driftfile /var/lib/chrony/chrony.drift

# Uncomment the following line to turn logging on.
#log tracking measurements statistics

# Log files location.
logdir /var/log/chrony

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep 1 3

{% if chrony_server_enabled %}
# This system will answer NTP requests from clients on the following allowed subnets.
{% for allowsubnet in chrony_allow_subnets %}
allow {{ allowsubnet }}
{% endfor %}
{% endif %}

# For peer synchronisation and fallback purposes.
{% if chrony_peers_group is defined and chrony_peers_group %}
{% for host in groups[chrony_peers_group] %}
{% if host != inventory_hostname %}
{% if chrony_server_enabled %}
peer {{ host }}
{% else %}
server {{ host }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
# Local NTP servers, the preferred servers.
{% for host in ntp_servers %}
server {{ host }} prefer
{% endfor %}
