listen stats
    bind *:{{ haproxy_stats_port | int }}
    mode http
    stats enable
    stats uri /
{% if ansible_distribution_major_version >= '20' %}
    http-request use-service prometheus-exporter if { path /metrics }
    option http-use-htx
{% endif %}
