vrrp_instance VI_1 {
      state MASTER
      interface {{ keepalived_interface }}
      virtual_router_id 51
      priority {{ _keepalived_servers.index(inventory_hostname) | int + 200 }}
      advert_int 1
      authentication {
         auth_type PASS
         auth_pass {{ keepalived_auth_password }}
      }
      virtual_ipaddress {
{% for cidr in keepalived_cidr_list %}
         {{ cidr }}
{% endfor %}
      }
      unicast_peer {
{% for node in _keepalived_server_ips %}
        {{ node }}
{% endfor %}
      }
}
