ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ ansible_host }}:{{ etcd_peers_port }}
ETCD_LISTEN_PEER_URLS=http://0.0.0.0:{{ etcd_peers_port }}
ETCD_ADVERTISE_CLIENT_URLS=http://{{ ansible_host }}:{{ etcd_clients_port }}
ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:{{ etcd_clients_port }}
ETCD_INITIAL_CLUSTER={{ etcd_cluster_addresses | join(",") }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_cluster_state }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_token }}
