[Unit]
Description=Jenkins Swarm

[Service]
User=root
WorkingDirectory=/home/jenkins
ExecStart=/usr/bin/java -jar swarm-client.jar -master {{ jenkins_agent_controller_address }} -username swarm -password {{ jenkins_swarm_password }} -prometheusPort 9168
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
