# GITEA__server__SSH_PORT={{ gitea_server_ssh_port }}
# GITEA__server__SSH_LISTEN_PORT={{ gitea_server_ssh_port }}
# GITEA__server__START_SSH_SERVER = true
{% for conf in gitea_conf_app %}
GITEA__{{ conf['section'] }}__{{ conf['option'] }}={{ conf['value']}}
{% endfor %}
