[Unit]
Description=Rclone share mount
After=network.target

[Service]
Type=simple
ExecStartPre=mkdir -p /mnt/rclone-share
ExecStart=/usr/bin/rclone mount --config=/etc/rclone/rclone.conf --uid=1000 --gid=100 share:{{ rclone_share_remote_path }} /mnt/rclone-share
ExecStop=/usr/bin/fusermount -zu /mnt/rclone-share
Restart=on-failure
RestartSec=15

[Install]
WantedBy=default.target
