FROM jenkins/jenkins:{{ jenkins_version }}
# USER root
USER jenkins
ENV JAVA_OPTS=-Djenkins.install.runSetupWizard=false
ENV JENKINS_OPTS=--argumentsRealm.roles.user=admin --argumentsRealm.passwd.admin={{ jenkins_admin_password }} --argumentsRealm.roles.admin=admin
EXPOSE 8080
RUN jenkins-plugin-cli --plugins {{ jenkins_plugins| join(' ') }}
