## STATIC CONFIGURATION
global:
  checkNewVersion: false
  sendAnonymousUsage: false
log:
  level: INFO
  # level: DEBUG
accesslog:
api:
  insecure: true
  dashboard: true
metrics:
  prometheus:
    entryPoint: traefik
entryPoints:
{% for name, port in traefik_ports.items() %}
  {{ name }}:
    address: ":{{ port }}"
{% endfor %}
providers:
  file:
    directory: /etc/traefik/services
    watch: true
{% if traefik_consul is defined %}
  consulCatalog:
    endpoint:
      address: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:8500"
      datacenter: {{ traefik_consul }}
{% else %}
{% endif %}
{% if traefik_acme.get('type') in ('dns', 'http', 'tls') %}
certificatesResolvers:
  acme-{{ traefik_acme['type'] }}:
    acme:
      {{ traefik_acme['type'] }}Challenge: {{ traefik_acme['challenge'] | to_json }}
      {% if traefik_acme['staging'] %}caServer: https://acme-staging-v02.api.letsencrypt.org/directory  # LetsEncrypt Staging Server - uncomment when testing{% endif %}

      email: "martin@tsolo.io"
      storage: "/etc/traefik/acme.json"
{% endif %}
# experimental:
#   localPlugins:
#     tsoloredauth-plugin:
#       moduleName: tsoloredauth
